@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  color: gray;
}

.todo-completed {
  text-decoration: line-through;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}